body {
    background-color: #e6e6e6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-brand {
    height: 70px;
  }
  
 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
  }
  
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.red {
    border-color: red;
}

.white {
    color: white;
}

.navbar-red {
    background-color: #d41f1f;
    overflow: hidden;
}

#menu-button {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-red {
        background-color: #ed1c24;
      overflow: hidden;
    }
  }